#messageList {
	margin-bottom: 75px;
}

.message {
	padding: 7px 15px;
	border-radius: 18px;
	margin-bottom: 25px;
}

.message.userMessage {
	background: var(--element);
	margin-left: auto;
	width: fit-content;
	max-width: 70%;
}

.message .content {
	color: var(--foreground);
	user-select: text;
	white-space: pre;
	text-wrap: auto;
}

.inputContainer {
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

textarea {
	min-height: initial !important;
	border-radius: 50px !important;
	font-family: 'Inter', Arial;
	padding: 15px !important;
	max-width: 850px;
}

#sendButton {
	border-radius: 50px;
	height: 50px;
	min-width: 50px;
	width: 50px;
	padding: 0;
	margin: 0;
}

#sendButton>.icon {
	font-size: 24px;
	margin: 0;
}