.messages {
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.members-list {
    border-color: var(--foreground3);
}
.messages {
  margin: 10px;
  overflow: auto;
  margin-top: 154px;
  max-height: 380px;
}
.members-count {
  font-weight: bold;
  user-select: none;
}
.message {
  padding: 5px;
  user-select: text!important;
  background-color: var(--background);
  border-radius: 10px;
  border: 1px solid var(--border);
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.message .member {
  display: inline-block;
  font-weight: bold;
  padding-left: 10px;
  user-select: none;
}

.member {
  padding-right: 10px;
  position: relative;
}
.message .member:after {
    content: ":"
}

.message-form {
  position: fixed;
  bottom: 24px;
  left: 10px;
  right: 10px;
  height: 43px;
  display: flex;
}
.message-form__input {
  border: 1px solid var(--border);
  padding: 10px 15px;
  font-size: 16px;
  background-color: var(--background);
  color: var(--foreground);
  transition: 0.2s;
  width: -webkit-fill-available!important;
  width: -moz-available!important;
  height: 22px;
  border-right: 0!important;
}

.message-form__button {
      background-color: var(--elementcolor);
      padding: 10px;
      border: 1px solid var(--border);
      border-left: 0!important;
      /* border-radius: 50px; */
      color: var(--foreground);
      cursor: pointer;
      float: right;
      font-family: 'Material Icons';
      font-size: 20px;
      width: 43px;
      height: 44px;
    }
  
  .message-form__button:active {
      cursor: default;
     background-color: var(--active);
  }
  .message-form__input:focus {
        border-color: var(--foreground);
    }
    .chatusers {
        background-color: var(--background);
        padding: 10px;
        border-radius: 0;
        border-bottom: 1px solid var(--accent);
        border-image: linear-gradient(to right, var(--accent) 0%, var(--accent2) 100%);
        border-image-slice: 1;
        position: fixed;
        top: 60px;
        z-index: 998;
        left: 0px;
        right: 0px;
    }
@media(hover: hover) {
  .message-form__button:hover {
    border-color: var(--foreground);
  }
}
@media(max-width: 400px) {
  .chatusers {
    top: 38px;
  }
}