.icon-settings {
    background: url("/icons/settings.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-store {
    background: url("/icons/store.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-note {
    background: url("/icons/note.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-note_secure {
    background: url("/icons/note_secure.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-code {
    background: url("/icons/code.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-calculator {
    background: url("/icons/calculator.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-dice {
    background: url("/icons/dice.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-piano {
    background: url("/icons/piano.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-music {
    background: url("/icons/music.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-mines {
    background: url("/icons/mines.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-dangerous {
    background: url("/icons/dangerous.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-questionblock {
    background: url("/icons/questionblock.png");
    background-repeat: no-repeat;
    background-size: cover;
	image-rendering: pixelated
}
.icon-hexgl {
    background: url("/icons/HexGL.png");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-2048 {
    background: url("/icons/2048.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-tetra {
    background: url("/icons/tetra.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-mahjong {
    background: url("/icons/mahjong.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-nes {
    background: url("/icons/NES.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-gba {
    background: url("/icons/GBA.png");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-appscope {
    background: url("/icons/appscope.svg");
    background-repeat: no-repeat;
    background-size: cover
}
.icon-methoddraw {
    background: url("/icons/methoddraw.svg");
    background-repeat: no-repeat;
    background-size: cover
}