.container {
  width: 100%;
  align-content: center;
  text-align: center;
}

body {
  overflow: hidden;
}
.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}
.valid {
  height: 36px;
  width: 36px;
  background: var(--elementcolor);
  margin: 2px;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer
}

.checked {
  height: 36px;
  width: 36px;
  margin: 2px;
  background-color: var(--foreground3);
  box-sizing: border-box;
  border-radius: 10px;
  cursor: default
}

.bomb {
  height: 36px;
  width: 36px;
  background: var(--elementcolor);
  margin: 2px;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}

.one {
  color: #e76346;
}

.two {
  color: #4199d3;
}

.three {
  color: #259127;
}

.four{
  color: #bb41d3;
}

#result {
  margin-top: 5px;
  color: #e76346;
}
