:root {
  --background: #111111;
  --background2: #2d2d2d;
  --shadow: #111111;
  --foreground: #ffffff;
  --foreground2: #888888;
  --foreground3: #555555;
  --elementcolor: #222222;
  --active: #000000;
  --border: #4d4d4d;
  --transparent: #00000000;
  --black: #000000;
  --darkoverlay: #00000086;
}