:root {
  --background: #ffffff;
  --background2: #ddd;
  --shadow: #aaaaaa;
  --foreground: #000000;
  --foreground2: #888888;
  --foreground3: #bbbbbb;
  --elementcolor: #eee;
  --active: #aaaaaa;
  --border: #888888;
  --transparent: #00000000;
  --black: #666666;
  --darkoverlay: #00000086;
}