@import "/fonts/inter.css";
@import "/fonts/quicksand.css";

:root {
    --background: #000;
    --background2: #000;
    --shadow: #000;
    --foreground: #fff;
    --foreground2: #fff;
    --foreground3: #fff;
    --elementcolor: #000;
    --active: #000;
    --border: #fff;
    --transparent: #00000000;
    --black: #000;
    --darkoverlay: #000;
}

header {
    background-color: var(--background);
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--accent);
    border-image: linear-gradient(to right, var(--accent) 0%, var(--accent2) 100%);
    border-image-slice: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 990;
    font-family: "Quicksand", "Inter", Arial, sans-serif;
    font-size: 36px
}

html,body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: 'Inter', Arial, sans-serif;
    color: var(--foreground);
    user-select: none;
}

body {
    z-index: 0;
    margin-top: 80px;
}

e {
    display: block;
    border-left: 2px solid var(--transparent);
    padding: 10px;
    font-size: 14px
}

r {
    float: right;
    color: var(--foreground2)
}

.alt {
    color: var(--foreground2)
}

p {
    font-size: 14px;
    margin: 10px
}

p2 {
    display: block;
    margin: 13px;
    font-weight: 700
}

.area {
    border: 1px solid var(--border);
    margin: 10px
}

textarea {
    background-color: var(--background);
    border: 1px solid var(--border);
    color: var(--foreground);
    width: -webkit-fill-available;
    width: -moz-available;
    min-height: 240px;
    resize: none;
    transition: .1s;
    margin: 10px
}

input[type="password"], input[type="text"] {
    background-color: var(--background);
    border: 1px solid var(--border);
    color: var(--foreground);
    padding: 5px;
    height: 32px;
    width: 280px;
    transition: .1s
}

input:focus {
    border-color: var(--foreground)
}

textarea:focus {
    border-color: var(--accent)
}

button, .button {
    font-family: 'Inter', Arial;
    background-color: var(--elementcolor);
    padding: 6px;
    border: 1px solid var(--border);
    color: var(--foreground);
    margin: 5px;
    cursor: pointer;
    transition: .1s
}

button:active, .button:active {
    cursor: default;
    background-color: var(--active)
}

:focus {
    outline: 0
}

f {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: var(--foreground3);
    margin-bottom: 5px
}

#loadingscreen {
    position: fixed;
    background-color: var(--background2);
    color: var(--foreground);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999
}

#loadingtext {
    font-size: 48px;
    font-family: sans-serif;
    display: block;
    margin-top: auto;
    margin-bottom: auto
}

#jslogo {
    position: fixed;
    font-size: 24px;
    font-family: sans-serif;
    bottom: 10px;
    right: 10px;
    color: var(--foreground2)
}

#dialog {
    z-index: 9999;
    padding: 10px;
    position: fixed;
    background: var(--elementcolor);
    border: 1px solid var(--border);
    width: 300px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    box-shadow: 0 0 16px 1px var(--shadow)
}

div#dialog>button {
    min-width: 50px;
    right: 0;
    bottom: 0;
    position: absolute
}

#overlay {
    z-index: 9998;
    position: fixed;
    background-color: var(--darkoverlay);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

select {
    background-color: var(--elementcolor);
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid var(--border);
    color: var(--foreground);
    margin: 5px;
    cursor: pointer;
    min-width: 100px;
    transition: .1s
}

select:active {
    background-color: var(--active);
    border: 1px solid var(--border) !important;
    border-bottom-color: var(--transparent) !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

@media(hover: hover) {
    e:hover {
        background-color: var(--elementcolor)
    }

    button:hover, .button:hover {
        border: 1px solid var(--accent)
    }

    select:hover {
        border: 1px solid var(--accent)
    }
}

@media(max-width: 400px) {
    p1 {
        font-size: 24px
    }

    header {
        text-align: left;
        padding: 5px
    }

    #dialog {
        position: fixed;
        height: 100px;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -50px;
        margin-left: 0;
        width: auto
    }
}

@media(min-width: 800px) {
    #dialog {
        width: 600px !important;
        height: 200px !important;
        margin-top: -100px !important;
        margin-left: -300px !important
    }
}


::selection {
  background: var(--accent)
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--elementcolor);
}
::-webkit-scrollbar-thumb:active {
  background: var(--active);
  cursor: move;
}