:root {
  --background: #000000;
  --background2: #000000;
  --shadow: #111111;
  --foreground: #ffffff;
  --foreground2: #888888;
  --foreground3: #555555;
  --elementcolor: #111;
  --active: #111111;
  --border: #aaa;
  --transparent: #00000000;
  --black: #000000;
  --darkoverlay: #00000086;
}