@import url('https://projectjshost.github.io/fonts/inter.css');
html, body {
    
 -webkit-user-select: none; /* Safari */        
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
    
    height: 100%;
    width:100%;
    padding: 0;
    margin: 0!important;
    overflow: hidden;
    color: var(--foreground);
}
p1 {
    float: left;
    margin: 5px;
    font-size: 25px;
    margin-left: 10px
}
/* used white colour for foreground so that disabled button is not visible to the screen */
button:disabled{
    color: grey;
}
/* made the hover background color to white so the annoying hover in empty space is removed */

button:disabled:hover{
    color:white;
    background-color:#fff;
}
.noHover{
    pointer-events: none;
}
header {
    display:none;
}
body {
    font-family: Inter;
    background-color: var(--background);
    overflow: hidden;
}

h1 {
    padding: 25px;
    margin: 20px;
    text-align: center;
}

.container {
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    overflow: hidden;
}

.output {
    position: relative;
    top: 20px;
    text-align: center;
}

input {
    text-align: end;
    padding: 8px;
    font-size: 25px;
}

#display {
    outline: none;
    width: -webkit-fill-available;
    height: 40px;
    background: #444;
    border: 2px solid var(--foreground3);
    border-radius: 5px;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

.keyboard {
    position: relative;
    top: 40px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 700px;
    min-width: 320px;
}
 /* it Removes Outline of all Button */
*:focus {
    outline: 0 !important;
}

button {
    font-family: Inter, Arial, sans-serif;
    font-weight: bolder;
    font-size: 22px;
    color: #fff;
    background: #444;
    border: none;
    margin: 6px;
    padding: 12px;
    outline: none;
    border-radius: 5px;
    width: 20%;
    height: 45px;
}

button:nth-child(1) {
    background: var(--foreground3);
    color: #fff;
}

button:nth-child(2) {
    font-weight: 550;
    background: var(--foreground3);
    color: #fff;
}

button:nth-child(3) {
    background: var(--foreground3);
    color: #fff;
}

button:nth-child(4) {
    background: var(--foreground3);
    color: #fff;
}

button:nth-child(8) {
    background: var(--foreground3);
    color: #fff;
}

button:nth-child(12) {
    padding: 0px;
    font-size: 30px;
    font-family: monospace;
    background: var(--foreground3);
    color: #fff;
}

button:nth-child(16) {
    background: var(--foreground3);
    color: #fff;
    font-size: 25px;
}

button:nth-child(20) {
    background: var(--foreground3);
    color: #fff;
}

button:hover {
    background: #555;
}
button:active {
    background: #444;
    color: #fff;
}

