input {
    height: 30px!important;
    padding: 4px!important;
    margin: 2px!important;
    width: 100px!important;
    margin-left: 5px!important;
}
.user-select {
    user-select: all!important;
    font-family: monospace!important;
    font-size: 16px;
}
#randomPassResult {
    line-break: anywhere;
}
p {
    margin: 10px!important;
}