#imageContainer {
	margin: 5px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.generatedImage {
	height: 256px;
	border-radius: 10px;
}

textarea {
	min-height: 0 !important;
}

.progress-container {
	display: block;
	width: 256px;
	height: 256px;
	background: var(--area-background-color);
	border-radius: 10px;
}

.progress-circle {
	width: 128px;
	height: 128px;
	margin: 64px auto;
	border-radius: 50%;
	background: var(--button-color);
	transition: background 1s linear;
}