.splitscreenContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    height: 100%
}
.splitscreenContainer>iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

@media(max-width: 600px) {
    .splitscreenContainer {
        flex-direction: column;
    }
}