@import url('https://projectjshost.github.io/fonts/inter.css');
     header {
         background-color: #353535;
         text-align:center;
         padding:10px;
         margin-bottom:10px;
         box-shadow: 0 2px 3px #111;
     }
     body {
         margin:0;
         background-color: #1B1B1B;
         user-select:none;
         color:white;
         font-family: 'Inter', Arial;
     }
     e {
         display:block;
         margin:1em;
         font-size: 0.9em
     }
     p2 {
         display:block;
         margin: 0.8em;
         font-weight: bold;
     }
     p1 {
         font-size:36px
     }
     .difficulty {
       border: 2px solid #808080;
       border-radius: 5px;
       margin: 15px;
     }
     button {
       background-color: #353535;
       padding: 10px;
       border: 2px solid #808080;
       border-radius: 5px;
       color: white;
       margin: 5px;
       cursor: pointer;
     }
     button:hover {
       border: 2px solid white;
     }
     :focus {
       outline: 0;
     }
