@import "/fonts/fonts.css";
@import "/icons/icons.css";

header {
    background: var(--background2);
    padding: 6px 10px;
    position: fixed;
    box-shadow: var(--shadow);
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 990;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
	border-bottom: 2px solid var(--border);
}
p1#header{
    letter-spacing: -1.5px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 250;
    font-size: 26px;
}

header>.actionBar {
    margin: 0;
    margin-left: 5px;
    padding: 0;
    background: none;
}

header>.actionBar>button {
    margin: 0;
    padding: 0 5px;
    box-shadow: none;
    background: none!important;
    opacity: 0.6;
}

header>.actionBar>p {
    margin: 0 5px;
    opacity: 0.6;
    font-weight: 400;
}

html,body {
    margin: 0;
    padding: 0;
    background: var(--background);
    font-family: 'Inter', Arial, sans-serif;
    color: var(--foreground);
    user-select: none;
    overscroll-behavior: contain
}

body {
    z-index: 0;
    padding-top: 55px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
div#wallpaperElement {
    position: fixed;
    top: 45px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    z-index: -1000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
	background-color: var(--background);
}
div#wallpaperElement.blur {
	filter: blur(10px);
}

div#wallpaperElement.dark {
	filter: brightness(0.5);
}

div#wallpaperElement.blur.dark {
	filter: blur(10px)brightness(0.5);
}

.appOverview {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

e {
    display: block;
    padding: 10px;
    font-size: 14px;
}

r {
    float: right;
    color: var(--foreground2)
}

.alt {
    color: var(--foreground2)
}

p {
    font-size: 14px;
    margin: 10px
}

p2 {
    display: block;
    margin: 7px;
    margin-left: 7px;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 20px;
    width: max-content;
    text-shadow: var(--shadow);
}

.dialog > p2 {
    margin-left: 0;
    margin-top: 0;
    user-select: none;
	text-shadow: none
}

.area {
    box-shadow: var(--shadow);
	background: var(--background2);
	border-radius: 10px;
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 0;
	padding: 10px;
	overflow: hidden;
	border: 2px solid var(--border);
}

.appOverview>.area {
    align-content: center;
    text-align: center;
    align-items: center;
    background: none;
    box-shadow: none;
    padding: 0px;
    margin:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: initial;
	border: 0
}

.appOverview>p2{
    margin: 5px!important;
    font-size: 24px;
    font-weight: 300;
    text-shadow: 0 0 3px rgb(0 0 0 / 50%);
}

.actionBar {
    box-shadow: var(--shadow);
    background: var(--area);
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 10px;
    padding: 2px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

textarea {
    background: var(--background2);
    border-radius: 10px;
    color: var(--foreground);
    width: -webkit-fill-available;
    width: -moz-available;
    min-height: 240px;
    resize: none;
    margin: 5px;
    margin-top: 5px;
    padding: 10px;
	font-size: 16px;
    border:2px solid var(--border);
}

.textareabig {
    height: 80%;
}
input[type="password"], input[type="text"], input[type="number"] {
    background: var(--element);
    border: none;
    border-radius: 5px;
    color: var(--foreground);
    padding: 0 7px;
    margin-left: 5px;
    height: 34px;
    width: 280px;
    transition: .1s
}

button, .button, select {
    font-family: 'Inter', Arial;
    font-size: 16px;
    background: var(--element);
    padding: 7px 10px;
    border: 0;
    border-radius: 5px;
    color: var(--foreground);
    margin: 5px;
    cursor: pointer;
    transition: 0.1s;
	box-shadow: var(--shadow);
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed!important;
}

button:active, .button:active {
    cursor: default;
    background: var(--active)!important
}

button.main {
	background: var(--accent)!important;
	color: var(--background)
}

button.deleteButton.main {position: absolute;right: 80px;}

:focus {
    outline: 0
}

.dialog {
    z-index: 9999;
    padding: 10px;
    position: fixed;
    background: var(--background);
    border: 2px solid var(--border);
    font-size: 15px!important;
    border-radius: 10px;
    width: 80%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--shadow);
    user-select: text;
}

.dialog>button {
    min-width: 50px;
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 14px!important;
    height: max-content;
    user-select: none;
}

.dialogOverlay {
    z-index: 9998;
    position: fixed;
    background: var(--darkoverlay);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px)saturate(0.8);
}

.headerButtons {
    background: var(--transparent);
	position: absolute;
	left: 10px;
    display: flex;
    justify-content: space-evenly;
    z-index: 999;
    transition: 0.2s;
    border-radius: 20px;
}
.headerButton {
    width: 28px;
    height: 28px;
    padding: 4px;
    background: none!important;
    border-radius: 50%;
    font-size: 18px!important;
    margin: 0;
    color: var(--foreground2);
    box-shadow: none!important;
}
.headerButton:active {
    background: var(--active)!important
}

button>.icon {
    font-size: 18px;
    vertical-align: sub;
    margin-right: 2px;
}

p2>.icon {
    font-size: 24px;
    vertical-align: sub;
    margin-right: 2px;
}

p>.icon {
    vertical-align: text-top;
    margin-right: 2px
}

a {
    color: var(--accent);
    text-decoration: none
}

::placeholder {
    color: var(--foreground);
    opacity: 0.4;
}

.appTile {
    display: flex;
    vertical-align: middle;
    background: var(--background2);
	border: 2px solid var(--border);
    border-radius: 10px;
    padding: 2px;
    margin: 4px;
    width: 110px;
    height: 110px;
    text-align: center;
    cursor: pointer;
    transition: ease-out 0.15s;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
}

.appTile p {
    font-size: 16.5px;
    margin: 3px;
    letter-spacing: -1px;
}

.appTile:active {
    cursor: default;
    transform: scale(1.2)!important;
}

.appIcon {
    font-size: 60px;
    height: 70px;
    width: 70px
}

@media(hover: hover) {
    header>.actionBar>button:hover {
        opacity: 1;
    }
    .headerButton:hover {
        color: var(--foreground);
    }

    a:hover {
        color: var(--foreground);
        text-decoration: underline;
    }

    .appTile:hover {
        transform: scale(1.1);
    }

}

::selection {
	background: var(--accent);
	color: var(--background)
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb {
	background: var(--active);
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:active {
	background: var(--element);
}

/* Toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
    margin: 4px;
    cursor: pointer;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background);
    transition: .2s;
    border-radius: 50px;
    border: 2px solid var(--border);
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background: var(--border);
    transition: .2s;
    border-radius: 50px;
}

input:checked+.slider {
    background: var(--accent);
    border-color: var(--accent);
}

input:checked+.slider:before {
    transform: translateX(11px);
    scale: 1.4;
    background: var(--background);
}

.slider.round {
	border-radius: 17px
}

.slider.round:before {
	border-radius: 50%;
}

.toggleSwitchContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
}

.user-select {
    user-select: all!important;
    font-family: monospace!important;
    font-size: 16px;
}

table {
    border-collapse: collapse;
    user-select: text;
}

td, th {
    border: 1px solid var(--border);
    margin: 0;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.listItem {
	margin: 5px;
	padding: 7px;
	background: var(--background2);
	border-radius: 10px;
	white-space: nowrap;
	max-width: -webkit-fill-available;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: flex-start;
	box-shadow: var(--shadow);
}

.listItem.themeItem {
	position: relative;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	z-index: 0;
	border: 2px solid var(--border);
}

.listItem.themeItem.active {
	border: 2px solid var(--accent);
	color: var(--accent)
}

.listItem.themeItem.active::before {
	display: block;
	position: absolute;
	content: "";
	background: var(--accent);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	opacity: 0.1;
}

.listItem.themeItem.active>.applyButton {
	visibility: hidden;
}

.listItem.themeItem>.theme>.preview {
	height: 32px;
	width: 32px;
}

.listItem.themeItem>.theme {
	font-size: 20px;
	display: flex;
	align-items: center;
}

.listItem.themeItem>.theme>.preview:nth-of-type(1) {
	border-radius: 50px;
	position: absolute;
	scale: 0.5;
}

.listItem.themeItem>.theme>.preview:nth-of-type(2) {
	border-radius: 50px;
	margin-right: 10px;
	box-shadow: var(--shadow);
}
#wallpaperList {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow: auto;
	overflow-y: hidden;
	padding: 5px;
}

.wallpaperItem {
	border-radius: 5px;
	border: 2px solid var(--border);
	box-shadow: var(--shadow);
	cursor: pointer;
	transition: 0.1s;
	margin-right: 5px;
}

.wallpaperItem:hover {
	border-color: var(--foreground2);
}

.wallpaperItem:active {
	filter:brightness(0.8)
}

.wallpaperItem > img {
	border-radius: 3px;
	width: 150px;
	height: 85px;
}

.wallpaperItem > .wallpaperOverlay {
	position: relative;
	height: 85px;
	top: -85;
	margin-bottom: -85px;
	background: linear-gradient(0deg, rgba(0,0,0,0) 0%, var(--background) 100%);
	padding: 0 5px;
	z-index: 100;
	opacity: 0;
	transition: 0.2s;
	font-size: 14px;
	line-height: 25px;
	border-radius: 3px;
}

.wallpaperItem > .wallpaperOverlay>.small {
	font-size: 10px;
	line-height: 10px;
	color: var(--foreground2);
}

.wallpaperItem > .wallpaperOverlay:hover {
	opacity: 1;
}
