
p2, label {
	margin:0px!important;
	color: var(--foreground2);
	font-weight: 400!important;
	font-size: 16px!important;
	display: inline!important;
}
input[type="text"] {
	background: var(--element);
	color: var(--foreground);
	border: 0;
	margin: 5px;
	margin-right: 0;
	padding: 5px;
	font-size: 16px;
	border-radius: 50px;
	min-width: 200px;
	display: inline;
}

.combiBarContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
}

.combiBarContainer> input {
	padding: 7px!important;
	height: 34px!important;
	border-radius: 5px 0 0 5px!important;
	font-family: 'Inter';
}

.combiBarContainer > button.main {
	display: inline;
	margin-left: 0px;
	border-radius: 0px 5px 5px 0;
	border: none;
}

.combiBarContainer > button.main>.feather {
	padding: 0;
	padding-left: 2px;
	vertical-align: text-top;
}
h2 {
	font-weight: 400;
	margin: 5px;
	display: flex;
	align-items: center;
}
input[type="text"] {
	background: var(--element);
	color: var(--foreground);
	border: 0;
	margin: 5px;
	margin-right: 0;
	padding: 5px;
	font-size: 16px;
	border-radius: 50px;
	min-width: 200px;
	display: inline;
}

input[type="radio"] {
	visibility: hidden;
	pointer-events: none;
	margin: 10px 0;
	width: 0;
}

input[type="radio"]+label {
	cursor: pointer;
	transition: 0.2s;
	border-bottom: 3px solid transparent;
}

input[type="radio"]:checked+label {
	pointer-events: none;
	color: var(--foreground);
	font-weight: 600;
	border-bottom: 3px solid var(--foreground);
	padding-right: 10px;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 50px;
	width: 75%;
	height: 10px;
	background: var(--element);
	outline: none;
	-webkit-transition: .2s;
	transition: opacity .2s;
	cursor: e-resize
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background: var(--accent);
	border-radius: 50px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
}
#colorSelect {
	display: flex;
	margin-bottom: 10px;
}

input#hueSlider {
	background-image: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}

#demoBoxes {
	display: flex;
	flex-direction: column;
	padding: 2px;
}

.demoBox {
	width: 26px;
	height: 26px;
	border-radius: 50px;
	margin: 2px;
	border: 2px solid #666;
}

.demoBox.background {
	background: var(--background);
}

.demoBox.background2 {
	background: var(--background2);
}

.demoBox.foreground {
	background: var(--foreground);
}

.demoBox.foreground2 {
	background: var(--foreground2);
}

.demoBox.border {
	background: var(--border);
}

.demoBox.element {
	background: var(--element);
}

.demoBox.active {
	background: var(--active);
}

.demoBox.accent {
	background: var(--accent);
}