:root {
    --background: #1d2021;
    --background2: #282828;
    --foreground: #ebdbb2;
    --foreground2: #bdae93;
    --border: #504945;
    --element: #3c3836;
    --active: #32302f;
    --accent: #fabd2f;
}