:root {
    --background:hsl(120, 5%, 5%);
    --background2:hsl(120, 5%, 10%);
    --foreground:hsl(120, 40%, 80%);
    --foreground2:hsl(120, 15%, 60%);
    --element:hsl(120, 10%, 20%);
    --border:hsl(120, 8%, 25%);
    --active:hsl(120, 10%, 25%);
    --accent:hsl(150, 75%, 60%);
}