:root {
    --background:#191724;
    --background2:#1f1d2e;
    --foreground:#e0def4;
    --foreground2:#908caa;
    --element:#2a283f;
    --border:#403d52;
    --active:#33304c;
    --accent:#ebbcba;
}