.appTile {
    display: flex;
    vertical-align: middle;
    border: 1px solid var(--border);
    background: var(--elementcolor);
    padding: 5px;
    margin: 5px;
    width: 180px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
    float:left;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.appTile p {
    font-size: 15px;
}

.appTile:hover {
    border-image: linear-gradient(45deg, var(--accent), var(--accent2)) 1;
    opacity: 1;
}
.appTile:active {
    background: var(--active);
}

.appIcon {
    font-size: 60px;
}