@import url('https://projectjshost.github.io/fonts/inter.css');
     header {
         background-color: #353535;
         text-align:center;
         padding:10px;
         margin-bottom:10px;
         box-shadow: 0 2px 3px #111;
         position: fixed;
         top:0;
         left:0;
         right: 0;
         z-index: 990;
     }
     html, body {
       margin:0;
       padding:0;
       background-color: #1B1B1B;
     }
     body {
         z-index: 0;
         margin-top: 80px;
         user-select:none;
         color: #fff;
         font-family: 'Inter', Arial;
     }
	   e {
        display: block;
        border-left: 2px solid #80808000;
        padding: 0.7em;
        font-size: 0.9em
    }
     r {
        float: right;
        color: gray
    }
    p {
      font-size: 14px;
      margin: 15px;
    }
     p2 {
      display: block;
      margin: 13px;
      font-weight: bold;
     }
     img {
       border-radius: 5px;
     }
     p1 {
         font-size:36px
     }
     .area {
       border: 2px solid #808080;
       border-radius: 5px;
       margin: 15px;
     }
     button {
       background-color: #353535;
       padding: 10px;
       border: 2px solid #808080;
       border-radius: 5px;
       color: white;
       margin: 5px;
       cursor: pointer;
       transition: 0.1s;
     }
     .button {
      background-color: #353535;
      padding: 10px;
      border: 2px solid #808080;
      border-radius: 5px;
      color: white;
      margin: 5px;
      cursor: pointer;
      transition: 0.1s;
    }
     button:active {
     	cursor: default;
     	background-color: #222;
     }
     .button:active {
      cursor: default;
      background-color: #222;
    }
     :focus {
        outline: 0;
     }
     f {
        position: fixed;
        bottom: 0;
        left: 0;
        right:0;
	    	text-align: center;
        width: 100%;
        font-size: 14px;
        color: #555;
        margin-bottom: 5px
    }
    #loadingscreen {
      position: fixed;
      background-color: #111;
      color: #fff;
      top:0;
      bottom:0;
      left:0;
      right:0;
      text-align: center;
      z-index: 999;

    }
    #loadingtext {
      font-size: 48px;
      font-family: sans-serif;
      display: block;
      margin-top:auto;
      margin-bottom: auto;
    }
    #jslogo {
      position: fixed;
      font-size: 24px;
      bottom: 10;
      right: 10;
      color: #888;
    }
    #dialog {
      z-index: 9999;
      padding: 10px;
      position: fixed;
      background: #353535;
      border: 2px solid #808080;
      border-radius: 5px;
      width: 300px;
      height: 100px;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -150px;
      box-shadow: 0px 0px 16px 1px #000;
    }
    div#dialog>button {
      min-width: 50px;
      right: 0px;
      bottom: 0px;
      position: absolute;
    }
    #overlay {
      z-index: 9998;
      position: fixed;
      background-color: #00000086;
      top: 0;
      bottom: 0;
      left: 0;
      right:0;
    }
    select {
      background-color: #353535;
      padding: 6px;
      padding-left: 10px;
      padding-right: 10px;
      border: 2px solid #808080;
      border-radius: 5px;
      color: white;
      margin: 5px;
      cursor: pointer;
      min-width: 100px;
      transition: 0.1s;
    }
    select:active {
      background-color: #222222;
      border: 2px solid #808080!important;
      border-bottom-color: #00000000!important;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  @media(hover: hover) {
      e:hover {
        border-left: 2px solid #848484;
        background-color: #353535;
      }
      button:hover {
        border: 2px solid white;
      }
      .button:hover {
        border: 2px solid white;
      }
      select:hover {
        border: 2px solid white;
      }
    }
    @media(max-width: 400px) {
      p1 {
        font-size:24px;
      }
      header {
        text-align: left;
        padding: 5px;
      }
      #dialog {
      position: fixed;
      height: 100px;
      top: 50%;
      left: 0;
      right: 0;
      margin-top: -50px;
      margin-left: 0;
      width: auto;
      }
    }
    @media(min-width: 800px) {
      #dialog {
      width: 600px!important;
      height: 200px!important;
      margin-top: -100px!important;
      margin-left: -300px!important;

      }
      
    }