:root {
  --background: #ffffff;
  --background2: #dddddd;
  --foreground: #000000;
  --foreground2: #888888;
  --foreground3: #666666;
  --elementcolor: #353535;
  --active: #dddddd;
  --border: #808080;
  --transparent: #00000000;
  --black: #000000;
  --darkoverlay: #00000086;
}