:root {
  --background: #ffffff;
  --background2: #f2f2f2;
  --shadow: #ccc;
  --foreground: #000000;
  --foreground2: #888888;
  --foreground3: #d4d4d4;
  --elementcolor: #e0e0e0;
  --active: #bbb;
  --border: #888888;
  --transparent: #00000000;
  --black: #666666;
  --darkoverlay: #00000086;
}