@import url('https://projectjshost.github.io/fonts/inter.css');
a {
        background-color: #353535aa;
        backdrop-filter: saturate(180%) blur(10px);
        float: left;
        border: 2px solid #ffffff1a;
        margin: 5px;
        width: 160px;
        padding: 10px;
        height: 100px;
        text-decoration: none;
        text-align: center;
        color: #fff;
        border-radius: 10px;
        transition: 0.1s;
    }
    a:hover {
        border: 2px solid #fff;
        background-color: #252525aa;
    }
    header {
        color: #000;
        padding: 10px;
        width: -webkit-fill-available;
        height: 100px;
    }
    h1 {
      font-weight: 260;
    }
    body {
        margin: 0;
        background: url('./Wallpapers/1.png') no-repeat;
        background-size: cover;
        background-position: center;
        font-family: Inter, Arial;
        background-color: #4e7fb1;
        color: #fff;
        user-select: none;
        height: 100%;
    }

    img {
        height: 58px;
    }
    #time {
      right: 20px;
      top: 0;
      position: fixed;
      font-size: 40px;
    }
