#charCount {
	position: fixed;
	right: 0;
	top: 0;
	font-size: 20px;
	z-index: 1000;
	font-weight: 500;
	pointer-events: none;
	text-shadow: var(--shadow);
}

textarea {
	min-height: 120px!important;
}

input {
	width: -webkit-fill-available!important;
	width: -moz-available!important;
}