body {
    padding-top: 80px!important;
}
.card {
    background: var(--area);
    border-bottom: 1px solid var(--border);
    margin: 0 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 300;
    overflow: hidden;
    user-select: text;
    font-size: 20px
}
.card:first-of-type {
    border-radius: 5px 5px 0 0;
}

.card:last-of-type {
    border-radius: 0 0 5px 5px;
    border-bottom: 0;
    margin-bottom: 40px;
}

#terms {
    margin-top: 10px;
}
.term {
    float: left;
    flex: 40%;
}

.definition {
    float: right;
    flex: 50%;
    border-left: 1px solid var(--border);
    padding-left: 10px;
}
input[type="file"] {
    padding: 5px;
}

.libraryItem {
    background: var(--element);
    display: flex;
    margin: 5px;
    border-radius: 7.5px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.libraryItem>p {
    cursor: pointer;
}
.libraryItem>p:hover {
    text-decoration: underline;
}