@font-face {
    font-family: 'AlexType';
    src: url('AlexType.woff2') format('woff2'),
        url('AlexType.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

