@import "/fonts/fonts.css";
@import "/icons/icons.css";

header {
	padding: 6px 10px;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 990;
	white-space: nowrap;
	overflow: hidden;
	display: flex;
	align-items: center;
}

p1#header {
	letter-spacing: -1.5px;
	font-family: "Inter", Arial, sans-serif;
	font-weight: 250;
	font-size: 26px;
	background: var(--background) !important;
	padding: 5px 10px !important;
	border-radius: 50px;
}

html,
body {
	margin: 0;
	padding: 0;
	background: var(--background);
	font-family: 'Inter', Arial, sans-serif;
	color: var(--foreground);
	user-select: none;
	overscroll-behavior: contain
}

body {
	z-index: 0;
	padding-top: 55px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

div#wallpaperElement {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1000;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	pointer-events: none;
	background-color: var(--background);
}

div#wallpaperElement.blur {
	filter: blur(10px);
}

div#wallpaperElement.dark {
	filter: brightness(0.5);
}

div#wallpaperElement.blur.dark {
	filter: blur(10px)brightness(0.5);
}

.appOverview {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

e {
	display: block;
	padding: 10px;
	font-size: 14px;
}

r {
	float: right;
	color: var(--foreground2)
}

.alt {
	color: var(--foreground2)
}

hr {
	border: 1px solid var(--border);
	border-radius: 50px;
	margin: 5px 5px;
}

p {
	font-size: 14px;
	margin: 10px
}

p2 {
	display: block;
	margin: 7px;
	margin-left: 7px;
	margin-bottom: 2px;
	font-weight: 300;
	font-size: 20px;
	width: max-content;
}

.dialog>p2 {
	margin-left: 0;
	margin-top: 0;
	user-select: none;
	text-shadow: none
}

.area {
	background: var(--background2);
	border-radius: 10px;
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 0;
	padding: 10px;
	overflow: hidden;
}

.appOverview>.area {
	align-content: center;
	text-align: center;
	align-items: center;
	background: none;
	box-shadow: none;
	padding: 0px;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	overflow: initial;
	border: 0
}

.appOverview>p2 {
	margin: 5px !important;
	font-size: 24px;
	font-weight: 300;
	text-shadow: 0 0 3px rgb(0 0 0 / 50%);
}

textarea {
	background: var(--background2);
	border-radius: 10px;
	color: var(--foreground);
	width: -webkit-fill-available;
	width: -moz-available;
	min-height: 240px;
	resize: none;
	margin: 5px;
	margin-top: 5px;
	padding: 10px;
	font-size: 16px;
	border: none;
}

.textareabig {
	height: 80%;
}

input[type="password"],
input[type="text"],
input[type="number"] {
	background: var(--element);
	border: none;
	border-radius: 5px;
	color: var(--foreground);
	padding: 0 7px;
	margin-left: 5px;
	height: 34px;
	width: 280px;
	transition: .1s
}

button,
.button,
select {
	font-family: 'Inter', Arial;
	font-size: 16px;
	font-weight: 400;
	background: var(--element);
	padding: 7px 10px;
	border: 0;
	border-radius: 5px;
	color: var(--foreground);
	margin: 5px;
	cursor: pointer;
	transition: 0.1s;
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed !important;
}

button.main:disabled {
	background: var(--element) !important;
	color: var(--foreground2);
	opacity: 1;
}

button:active,
.button:active {
	cursor: default;
	background: var(--active) !important
}

button.main {
	background: var(--accent) !important;
	color: var(--background)
}

button.deleteButton.main {
	position: absolute;
	right: 80px;
}

:focus {
	outline: 0
}

.dialog {
	z-index: 9999;
	padding: 10px;
	position: fixed;
	background: var(--background);
	border: 1px solid var(--border);
	font-size: 15px !important;
	border-radius: 5px;
	width: 80%;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	user-select: text;
}

.dialog>button {
	min-width: 50px;
	right: 0;
	bottom: 0;
	position: absolute;
	font-size: 14px !important;
	height: max-content;
	user-select: none;
}

.dialogOverlay {
	z-index: 9998;
	position: fixed;
	background: var(--darkoverlay);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	backdrop-filter: blur(10px)saturate(0.8);
}

.headerButtons {
	background: var(--background);
	position: absolute;
	right: 10px;
	display: flex;
	justify-content: space-evenly;
	z-index: 999;
	border-radius: 50px;
	overflow: hidden;
}

.headerButton {
	width: 40px;
	height: 40px;
	padding: 0;
	background: none !important;
	border-radius: 50%;
	font-size: 24px !important;
	margin: 0;
	box-shadow: none !important;
}

.headerButton:hover {
	background: var(--background2)!important;
}

.headerButton:active {
	background: var(--active) !important
}

button>.icon {
	font-size: 18px;
	vertical-align: sub;
	margin-right: 2px;
}

p2>.icon {
	font-size: 24px;
	vertical-align: sub;
	margin-right: 2px;
}

p>.icon {
	vertical-align: text-top;
	margin-right: 2px
}

a {
	color: var(--accent);
	text-decoration: none
}

::placeholder {
	color: var(--foreground);
	opacity: 0.4;
}

.appTile {
	color: var(--foreground);
	display: flex;
	vertical-align: middle;
	border-radius: 10px;
	padding: 2px;
	margin: 4px;
	width: 110px;
	height: 110px;
	text-align: center;
	cursor: pointer;
	transition: ease-out 0.15s;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.appTile p {
	font-size: 16.5px;
	margin: 3px;
	letter-spacing: -1px;
	text-shadow: 0 0 3px rgb(0 0 0 / 50%);
}

.appTile:active {
	cursor: default;
	transform: scale(1.2) !important;
}

.appIcon {
	font-size: 60px;
	height: 70px;
	width: 70px
}

@media(hover: hover) {
	.headerButton:hover {
		color: var(--foreground);
	}

	a:hover {
		color: var(--foreground);
		text-decoration: underline;
	}

	.appTile:hover {
		transform: scale(1.1);
	}

}

::selection {
	background: var(--accent);
	color: var(--background)
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 50px;
}

::-webkit-scrollbar-thumb {
	background: var(--active);
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:active {
	background: var(--element);
}

/* Toggle switch */
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 25px;
	margin: 4px;
	cursor: pointer;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--background);
	transition: .2s;
	border-radius: 50px;
	border: 1px solid var(--border);
}

.slider:before {
	font-family: 'Material Icons';
	color: var(--background);
	scale: 1.4;
	font-size: 13px;
	line-height: 14px;
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 5px;
	bottom: 5.25px;
	background: var(--border);
	transition: .2s;
	border-radius: 50px;
}

input:checked+.slider {
	background: var(--accent);
	border-color: var(--accent);
}

input:checked+.slider:before {
	content: "check";
	color: var(--accent);
	transform: translateX(10.5px);
	background: var(--background);
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 50px;
	width: -webkit-fill-available;
	min-width: 300px;
	height: 10px;
	background: var(--element);
	outline: none;
	-webkit-transition: .2s;
	transition: opacity .2s;
	cursor: e-resize
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background: var(--accent);
	border-radius: 50px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
}

.slider.round {
	border-radius: 17px
}

.slider.round:before {
	border-radius: 50%;
}

.toggleSwitchContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
}

.user-select {
	user-select: all !important;
	font-family: monospace !important;
	font-size: 16px;
	white-space: pre;
	overflow: auto;
}

table {
	border-collapse: collapse;
	user-select: text;
}

td,
th {
	border: 1px solid var(--border);
	margin: 0;
}

* {
	-webkit-tap-highlight-color: transparent;
}

.listItem {
	margin: 5px;
	padding: 7px;
	background: var(--background2);
	border-radius: 10px;
	white-space: nowrap;
	max-width: -webkit-fill-available;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: flex-start;
}

.listItem.themeItem {
	position: relative;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	z-index: 0;
}

.listItem.themeItem.active {
	color: var(--accent)
}

.listItem.themeItem.active::before {
	display: block;
	position: absolute;
	content: "";
	background: var(--accent);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	opacity: 0.1;
}

.listItem.themeItem.active>.applyButton {
	visibility: hidden;
}

.listItem.themeItem>.theme>.preview {
	height: 32px;
	width: 32px;
}

.listItem.themeItem>.theme {
	font-size: 20px;
	display: flex;
	align-items: center;
}

.listItem.themeItem>.theme>.preview:nth-of-type(1) {
	border-radius: 50px;
	position: absolute;
	scale: 0.5;
}

.listItem.themeItem>.theme>.preview:nth-of-type(2) {
	border-radius: 50px;
	margin-right: 10px;
}

#wallpaperList {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow: auto;
	overflow-y: hidden;
	padding: 5px;
}

.wallpaperItem {
	border-radius: 10px;
	overflow: hidden;
	min-width: max-content;
	cursor: pointer;
	transition: 0.1s;
	margin-right: 5px;
}

.wallpaperItem:hover {
	border-color: var(--foreground2);
}

.wallpaperItem:active {
	filter: brightness(0.8)
}

.wallpaperItem>img {
	width: 150px;
	height: 85px;
}

.wallpaperItem>.wallpaperOverlay {
	position: relative;
	height: 80px;
	top: -85;
	margin-bottom: -85px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--background) 100%);
	padding: 0 5px;
	padding-top: 5px;
	z-index: 100;
	opacity: 0;
	transition: 0.2s;
	font-size: 14px;
	max-width: 140px;
}

.wallpaperItem>.wallpaperOverlay>.small {
	font-size: 10px;
	line-height: 10px;
	color: var(--foreground2);
}

.wallpaperItem>.wallpaperOverlay:hover {
	opacity: 1;
}